* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}

body {
  margin: auto;
  background-color: #0E0E0E;
  color: #fff;
}

h1 {
  color: rgb(255, 217, 0);
  margin-right: 2em;
  font-size: 45px;
  text-shadow: 1px 1px 5px #111;
}

a {
  color: white;
  text-decoration: none;
}

header {
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 50px 90px;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 3em;
}

.fa-ticket {
  font-size: 50px;
  margin-right: 10px;
  color: rgb(255, 217, 0);
}

.link-watchlist {
  margin-left: auto;
  background-color: #0F2027;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 30px;
  box-shadow: inset 1px 1px 5px black;
  cursor: pointer;
}

.user-input {
  position: absolute;
  width: 90%;
  bottom: -40px;
  margin: auto;
}

.search-bar {
  font-size: 30px;
  width: 50%;
  padding: 10px 10px 10px 80px;
  border: 3px rgba(128, 128, 128, 0.452) solid;
  border-radius: 20px 0 0 20px;
  font-family: Poppins, sans-serif;
}

.search-btn {
  font-size: 30px;
  padding: 10px 30px;
  border: 3px rgba(128, 128, 128, 0.452) solid;
  border-left: transparent;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  font-family: Poppins, sans-serif;
}

.search-btn:hover,
.search-bar:hover {
  box-shadow: inset 1px 1px 5px black;
}

.fa-magnifying-glass {
  color: #11111169;
  font-size: 40px;
  position: relative;
  left: 60px;
  top: 5px;
}

.watchlist,
main {
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.fa-film {
  opacity: 0.4;
  margin-top: 1.5em;
  font-size: 180px;
}

h4 {
  font-size: 40px;
  opacity: 0.4;
}

.back-btn {
  background-color: #1f1b1b;
}

/* MOVIE DISPLAY */

.movie {
  width: 60%;
  display: flex;
  align-items: center;
  border-bottom:1px rgba(128, 128, 128, 0.288) solid ;
  padding: 40px 0px;
}

.movie-poster {
 border-radius: 20px;
 width: 20%;
 margin-right: 4em;
}

.movie-info {
  flex: 3;
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  padding: 50px 0;
}

.movie-title-rating-box {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 1em;
}

.movie-title {
  font-size: 30px;
  font-weight: 800;
  margin-right: 5px;
}

.fa-star {
  font-size: 20px;
  color: gold;
}

.movie-rating {
  font-size: 25px;
}

.movie-time-genre-box {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  font-weight: 700;
  gap: 10px;
  width: 60%;
}

.fa-minus,
.fa-plus {
  opacity: 0.5;
  margin-left: auto;
  cursor: pointer;
}

.fa-plus:hover {
  opacity: 1;
}

.watchlist-btn {
  cursor: pointer;
}

.movie-plot {
  width: 70%;
}

/* Watchlist */
